<footer>
    <div>
        <p>Fork_Wasselonne</p>
        <span class="data">2022 - <a href="/audela/mentionslegales">Mentions légales</a></span>
    </div>
    <nav class="plan">
        <ol>
            <li><a href="/">Accueil</a></li>
            <li><a href="/territoire">Territoire</a></li>
            <li><a href="/territoire/interviews">Interviews</a></li>
            <li><a href="/projet">Projet de design</a></li>
            <li><a href="/projet/outils">Outils</a></li>
            <li><a href="/projet/productions">Productions</a></li>
            <li><a href="/fiction">Fiction</a></li>
            <li><a href="/audela">Au-dela</a></li>
        </ol>
    </nav>
    
    <div id="top">
        <a href="#" alt="Retour en haut de la page"><button class="top">&#x2191;</button></a>
    </div>

</footer>